.loan-calculator__title {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 30px;
}

.loan-calculator__container {
  width: 50%;
  margin: auto !important;
  display: flex;
  border: solid #ffffff 1px;
  border-radius: 3px;
  margin: 20px 0 0 0;
}

.loan-calculator__input-display-container {
  flex: 1;
  background-color: #28283C;
  color: #ffffff;
  padding: 40px;
}

.loan-calculator__input-labels {
  text-align: left;
  padding-bottom: 10px;
}

.loan-calculator__user-loan-amount-input {
  background-color: #323246 !important;
  border: 1px solid #ffffff;
  border-radius: 5px;
  height: 35px;
  padding-left: 20px;
  width: 100% !important;
  margin-bottom: 20px;
  &:focus {
    border: 1px solid #ffffff !important;
    color: #ffffff;
  }
}

.loan-calculator__loan-term-slider {
  margin-bottom: -10px;
}

.loan-calculator__slider-flexbox-container {
  display: flex;
}

.loan-calculator__low-slider-value{
  flex: 1;
  margin-right: 5px;
  margin-left: 2px;
}

.loan-calculator__high-slider-value{
  flex: 1;
  margin-left: 5px;
  margin-right: 2px;
}

.loan-calculator__slider-container {
  flex: 10;
  padding-top: 7px;
}

.loan-calculator__ltv-label {
  margin-top: 30px;
}

.loan-calculator__ltv-radio-group {
  border: none !important;
  display: flex !important;
  justify-content: space-between !important;
  margin-bottom: 30px;
}

.loan-calculator__repayment-option-radio-group {
  border: none !important;
  display: flex !important;
  margin-bottom: 50px;
}

.loan-calculator__repayment-option-containers {
  flex: 1;
}

.loan-calculator__interest-only-text {
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 500;
  font-size: 12px !important;
}


.loan-calculator__principal-text {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px !important;
}

.loan-calculator__calculation-display-container {
  color: #000000;
  background: #00ffc3;
  padding-top: 20px;
  flex: 1;
  padding-left: 40px;
  padding-right: 30px;
}

.loan-calculator__monthly-payment-title {
  font-weight: 500;
  text-align: left;
  font-size: 12px;
  margin-bottom: 5px;
}

.loan-calculator__last-payment {
  margin-bottom: 10px;
}

.loan-calculator__display-row {
  display: flex;
  text-align: left;
  margin-bottom: 10px;
  padding-top: 10px;
}

.loan-calculator__display-items {
  flex: 1;
}

.loan-calculator__display-titles {
  font-weight: 500;
  font-size: 10px;
}

.loan-calculator__currency-displays {
  text-align: left;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}

.loan-calculator__collateral-needed-title {
  margin-top: 15px;
  margin-bottom: 10px;
}

.loan-calculator__collateral-needed-display {
  margin-bottom: 10px;
}

.loan-calculator__coin-display-container {
  display: flex;
  margin-top: 15px;
  margin-bottom: 20px;
}

.loan-calculator__coin-display {
  column-count: 2;
  column-gap: -100px;
  display: inline-block;
  text-align-last: left;
  margin-bottom: 20px;
}

li {
  list-style: none;
  font-size: 10px;
  margin-bottom: 10px;
}

.loan-calculator__coin-symbol {
  width: 15px;
  margin-right: 5px;
}

.loan-calculator__stake-salt-container {
  text-align: left;
  margin-bottom: 30px;
}

.loan-calculator__stake-salt-display {
  text-align: left;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
}

// ******** radio button default style overrides (not available as props from React Suite library) ********
label {
  font-size: 14px !important;
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
  border-radius: 2px !important;
}

// override initial button styling to allow highlight on focus and correct color schema
.rs-radio-group-picker .rs-radio-checked .rs-radio-checker > label {
  color: #000000 !important;
  background-color: #00ffc3 !important;
  border: 1px solid #00ffc3 !important;
  border-radius: 2px !important;
}

// ******** slider default style overrides (not available as props from React Suite library) ********

// remove slider bar color
.rs-slider-bar {
  background-color: #28283d !important;
}

// remove progress color 
.rs-slider-graduator > ul > li.rs-slider-pass:before {
  border-color: #ffffff !important;
}

// graduated vertical line transformation
.rs-slider-graduator > ul > li:before,
.rs-slider-graduator > ul > li:last-child:after {
  width: 1px !important;
  transform: scale(0.1, 1.3);
  border-radius: 0% !important;
}

// remove blue border on slider grabber
.rs-slider-handle:before {
  border: 1px solid #ffffff !important;
}

// ******** media queries for mobile responsiveness ********
@media only screen and (max-width: 600px) {
  .loan-calculator__container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .loan-calculator__container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1200px) {
  .loan-calculator__ltv-radio-group {
    border: none !important;
    display: flex !important;
    justify-content: space-between !important;
    margin-bottom: 30px;
  }
}
